@if (control) {
<div class="content-input">
  @if (label) {
  <label>{{ label }}{{ isRequired ? '*' : '' }}</label>
  }
  <input
    class="input"
    [ngClass]="{ error: !isValid(), 'left-padding': emailIcon }"
    [placeholder]="placeholder"
    [type]="type"
    [attr.value]="value || null"
    [formControl]="control"
  />

  @if (emailIcon) {
  <img alt="email-icon" class="icon" src="assets/email.svg" />
  } @if (!isValid()) {
  <c-error-input [formContained]="control" [controlName]="name"></c-error-input>
  }
</div>

}
