/* Similar font to Helvetica */
/* https://fontsplugin.com/google-fonts-helvetica-neue/ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --white: #ffffff;
  --blue: #2e8ff0;
  --pink: #f44682;
  --coral: #ef7da0;
  --green: #66bb6a;

  --main-bg: #eef0f8;
  --input-bg: #f3f6f9;
  --table-row-bg: #f4f5f8;
  --table-row-hover-bg: #eff0f4;

  --pink-shadow: #f4468229;
  --blue-shadow: #2e8ff029;
  --green-shadow: #4caf505c;

  --text-grey: #a4a4b5;
  --text-dark: #3f4254;

  --border-radius: 6px;
  --main-padding: 16px;
}

body {
  font-size: 14px;
  padding: var(--main-padding);
  font-family: 'Roboto', sans-serif;
  color: var(--text-dark);
  background-color: var(--main-bg);
}
